* {
  border-radius: 0 !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: proxima-nova, sans-serif;
  font-size: 1.2em;
}

body > .container-fluid {
  padding-top: 70px;
}

.btn {
  font-weight: 900;
}

p.pred-calc-desc {
  font-family: baskerville-urw, serif;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 0.8em;
}

h1 {
  font-family: baskerville-urw, serif;
  font-size: 1.75em;
  font-style: italic;
}

h2 {
  font-family: baskerville-urw, serif;
  font-size: 1.25em;
  font-style: italic;
  padding-bottom: .5em;
}

h3 {
  font-size: 1em;
}

nav.navbar.bg-dark, .card-header, .prediction-calculator {
  background-color: #000 !important;
}

.card {
  border-width: 0;
}

h3, h4 {
  text-transform: uppercase;
  font-weight: 900;
}

h5 {
  font-weight: 900;
  text-align: center;
}

.deep-dive-axis line {
  stroke: white;
}

.deep-dive-axis path {
  stroke: white;
}

.deep-dive-axis text {
  stroke: white;
}

.deep-dive-label {
  color: white;
  font-weight: 500;
}

.col-form-label {
  font-size: .9em;
  font-weight: 900;
}

.step {
  color: #00BC8C;
  font-size: 1.2em;
  font-weight: 900;
}

.chart-tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 14px;
  padding: 2px;
  font: 14px sans-serif;
  fill: gray;
  border: 0px;
  pointer-events: none;
}

/* Prediction Calculator */
/* =================================================================== */
.pred_calc_selected_county {
  font-weight: bold;
  border-bottom: 4px solid #22AC8A;
}

.pred_calc_top_hr {
  margin-top: 5px;
  margin-bottom: 0px;
}

#predicted_val_display {
  color: #00BC8C;
  font-weight: 700;
  font-size: 1.2em;
  display: none;
}

/* US Map */
/* =================================================================== */

.map-view {
  min-height: 550px;
}

.caption {
  font-size: 1.3em;
}

.counties {
  fill: #282828;
}

.counties :hover {
  fill: #00BC8C;
}

.county-borders, .nation-border {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.food-atlas-map {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.us-map {
    display: block;
    margin: auto;
    top: 0;
    left: 0;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.reset-link {
  color: #00BC8C;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  margin-left: 6px;
}

.reset-link:hover {
  text-decoration: underline;
}

div.tip-data {
  font-size: 60%;
}

span.tip-data {
  color: #00BC8C;
}
